@use "./variables";

.header {
  background: rgb(255, 252, 252);
  border-bottom: 1px solid #ddd;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: variables.$logo-size;
    height: variables.$logo-size;
  }

  &__nav {
    display: none;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
      color: variables.$text-color;
      text-decoration: none;

      &:hover {
        color: variables.$primary-color;
      }
    }
  }

  &__toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .header {
    &__nav {
      display: block;
    }

    &__toggle {
      display: none;
    }
  }
}